
<suite name="Ecommerce Automation Suite">

    <listeners>
        <listener class-name="com.srm.listeners.TestListener"/>
    </listeners>

    <!-- ✅ ALL TESTS IN ONE FLOW -->
    <test name="Ecommerce Tests">

        <classes>
            
            <class name="com.srm.tests.RegisterTest"/>
            <class name="com.srm.tests.LoginTest"/>
            <class name="com.srm.tests.ProductTest"/>
            <class name="com.srm.tests.CartTest"/>
            <class name="com.srm.tests.CheckoutTest"/>
            <class name="com.srm.tests.ValidationTest"/>

        </classes>

    </test>

</suite>